<div class="register-container">
  <div class="register-form">
    <h2 class="register-title">Register</h2>
    <form 
        [formGroup]="registerForm" 
        (ngSubmit)="onSubmit()"
        tuiAppearance="floating"
        tuiCardLarge
        tuiForm="m"
    >
      <div class="form-group">
        <tui-textfield
          tuiTextfieldSize="m"
        >
          <input
            tuiTextfield
            type="email"
            formControlName="email"
            placeholder="Enter your email"
          />
        </tui-textfield>
        <tui-error
          formControlName="email"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <div class="form-group">
        <tui-textfield
            tuiTextfieldSize="m"
        >
          <input
            tuiTextfield
            type="text"
            formControlName="username"
            placeholder="Enter your username"
          />
        </tui-textfield>
        <tui-error
          formControlName="username"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <div class="form-group">
        <tui-textfield
            tuiTextfieldSize="m"
            type="password"
        >
            <input
                placeholder="Your password please..."
                tuiTextfield
                formControlName="password"
                type="password"
            />
        </tui-textfield>
        <tui-error
            formControlName="password"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <div class="form-group">
        <tui-textfield
          tuiTextfieldSize="m"
        >
        <input
            placeholder="Your password once again..."
            tuiTextfield
            formControlName="confirmPassword"
            type="password"
        /> 
        </tui-textfield>
        <tui-error
          formControlName="confirmPassword"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <p>Already have an account? Go to <a href="/login">login</a></p>

      <button
        tuiButton
        type="submit"
        appearance="primary"
        [disabled]="registerForm.invalid"
        class="submit-button"
      >
        Register
      </button>
    </form>
  </div>
</div>
