<tui-loader
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="!isMapInitialized"
    [size]="'xl'"
    class="map-wrapper"
>
    <google-map #mapObject mapId="6a7a79fc38455eec" [width]="'100%'" [height]="'100%'" [options]="mapOptions" (zoomChanged)="changeMapZoom()" [zoom]="mapZoom">
        <map-advanced-marker id="position" #marker="mapAdvancedMarker" [position]="userLocation" [options]="userLocationMarkerOptions" (mapClick)="userLocationMarkerClick(marker)"></map-advanced-marker>
        @for (location of poiLocations; track location; let i = $index) {
            <map-advanced-marker id="position" #marker="mapAdvancedMarker" [position]="location.location" [options]="markerOptions" (mapClick)="markerClick(marker, i)"></map-advanced-marker>
        }
        <map-info-window #infoWindow [options]="infoWindowOptions" (closeclick)="closeInfoWindowForPOI()"></map-info-window>
        @if (directionResults$ | async; as directionsResults) {
            <map-directions-renderer *ngIf="showDirectionResults" [directions]="directionsResults" />
        }
    </google-map>
</tui-loader>


<div #infoWindowContent >
</div>
